<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Weperch Technologies Ltd">
	    <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
        <link rel="stylesheet" href="/css/posterDeck.css">
		<link rel="stylesheet" href="/css/general.css">

        <!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="/css/bs-stepper.min.css">
       
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="/files/images/ASFIScholar_Logo.png">
    
        <link rel="stylesheet" href="/css/css/fontawesome.css">
        <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    
        <link rel="stylesheet" href="/css/material-design-iconic-font.css">
        <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
    
        <title>Create Course</title>
        <!-- Dark mode -->
        <script src="/js/colorTheme.js"></script>

</head>

<body>

    <!-- NAVIGATION BAR  -->
    <!-- <sidebar class="left-navigation-bar bg-shadow ">
       
             <script src="/js/navbar.js"></script>
     </sidebar> -->
     <!-- END NAVIGATION BAR  -->

<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<button class="stack-bars fa ">
            </button>

            
                   <!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">



				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                  
						<img class="avatar-img rounded-circle border border-white border-3 shadow" >
						
					
				</a>
                
                
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3 mb-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								
									
							</div>
							<div>
								<a class="h6" href="/dashboard">@</a>
								<p class="small m-0"></p>
							</div>
						</div>
					</li>
                    
          <li> <hr class="dropdown-divider"></li>
					<!-- Links -->
					<li><a class="dropdown-item" href="/settings"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
					<li><a class="dropdown-item" href="/settings"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
					<li><a class="dropdown-item" href="/contactUs"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
					<li><a class="dropdown-item bg-danger-soft-hover" href="/logout"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode options START -->
					<li>
						<div class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">
							<button type="button" class="btn btn-sm mb-0" data-bs-theme-value="light">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
									<use href="#"></use>
								</svg> Light
							</button>
							<button type="button" class="btn btn-sm mb-0" data-bs-theme-value="dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
									<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
									<use href="#"></use>
								</svg> Dark
							</button>
							<button type="button" class="btn btn-sm mb-0 active" data-bs-theme-value="auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
									<use href="#"></use>
								</svg> Auto
							</button>
						</div>
					</li> 
					<!-- Dark mode options END-->
				</ul>
			</div>
			<!-- Profile START -->
               
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>


<!-- =======================
Steps START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<h4>Create a Poster Deck</h4>
				<!-- Content -->
				<h6 class="text-center">Create your Poster Deck in minutes! </h6>
			</div>
		</div>
        <br>

		<div class="card-body">
		<!-- Step 1 content START -->
		<div class="content">
			<!-- Title -->
			

			<hr> <!-- Divider -->

			<!-- Basic information START -->
			<div class="row g-4">
				<!-- Event title -->
				<div class="col-12">
					<label class="form-label">Event title*</label>
					<input class="form-control" type="text" name="eventTitle" id="eventTitle"  placeholder="Enter event title">
				</div>

				<!-- Event organizer -->
				<div class="col-12">
					<label class="form-label">Organizer*</label>
					<input class="form-control" type="text" name="eventOrganizer" id="eventOrganizer" value="">
				</div>

				<!-- Short description -->
				<div class="col-12">
					<label class="form-label">Short description</label>
					<textarea class="form-control" name="shortDescription" id="shortDescription" rows="10" placeholder="Enter keywords"></textarea>
				</div>

				<!-- Date of Event -->
				<div class="col-12">
					<label class="form-label">Start Date*</label>
					<input class="form-control" type="date" name="startDate" id="startDate" value="">
				</div>

				<!-- Event URL -->
				<div class="col-12">
					<label class="form-label">Event URL</label>
					<input class="form-control" type="text" name="eventURL" id="eventURL" value="" placeholder="https://">
				</div>
          
				

				
				

				<!-- Step 1 button -->
				<div class="d-flex justify-content-end mt-3">
					<button type="button" class="btn btn-primary next-btn mb-0">Create Poster Session</button>
				</div>
			</div>
			<!-- Basic information START -->
		</div>
		<!-- Step 1 content END -->
	</div>

		
		</div>
	</div>
</section>
<!-- =======================
Steps END -->

<header class="bg-white shadow">
	    <div class="p-header">
		  <div class="tester-side">
			<h4 class="text-2xl flex font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
			  Tester 
			  <a href="">Preview</a>
			</h4>
		  </div>
		  <div class="flex">
			<span class=" rounded-md">
			  <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white action-btn" data-bs-toggle="modal" data-bs-target="#editAction">
				Edit
			  </button>
			</span>
			
			<span class="ml-3 shadow-sm rounded-md action-btn2">
			  <a href="">
				Publish...
			  </a>
			</span>
			
		  </div>
		</div>
</header>

<section>
	<div class="bg-white shadow overflow-hidden rounded-lg presenter-container">
		<div class="prep-top">
			<div class="present-header">
				<h4>Presentations</h4>
			</div>
			<div>
				<!-- <span>Add</span> -->
				<span class="inline-flex rounded-md">
					<button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800 action-btn">
					  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
						<path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
					  </svg>
					  <span>
						Add
					  </span>
					</button>
				</span>
				<!-- <span>Send Invites</span> -->
				<span class="ml-3 inline-flex rounded-md">
					<button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800 action-btn">
					  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
						<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
						<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
					  </svg>
					  <span>
						Send Invites
					  </span>
					</button>
				</span>
			</div>

		</div>
		<ul>
			<li>
				<a href="">
					<div>
						<p>Presentation brief goes here...</p>

					</div>
				</a>
			</li>
		</ul>
		<div class="prep-bottom">
			<div class="presenter-count">
				<p>1/2 Presenters</p>
			</div>

		</div>
	</div>

	
</section>


<!-- =======================
Upload Poster START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<h4>Upload Poster</h4>
				<!-- Content -->
				<a href="" class="text-center">Preview your poster </a>
			</div>
		</div>
        <br>

		<div class="card-body">
		<!-- Step 1 content START -->
		<div class="content">
			<!-- Title -->
			

			<hr> <!-- Divider -->

			<!-- Basic information START -->
			<div class="row g-4">
				<!-- Event title -->
				<div class="col-12">
					<label class="form-label">Title*</label>
					<input class="form-control" type="text" name="eventTitle" id="eventTitle"  placeholder="Enter event title">
				</div>

				<!-- Event organizer -->
				<div class="col-12">
					<label class="form-label">Authors*</label>
					<input class="form-control" type="text" name="eventOrganizer" id="eventOrganizer" value="">
				</div>

				<!-- Short description -->
				<div class="col-12">
					<label class="form-label">Abstract</label>
					<textarea class="form-control" name="shortDescription" id="shortDescription" rows="10" placeholder="Enter keywords"></textarea>
				</div>

				<!-- Presenter Name -->
				<div class="col-12">
					<label class="form-label">Presenter Name*</label>
					<input class="form-control" type="text" name="presenterName" id="presenterName" value="">
				</div>

				<!-- Presenter Email -->
				<div class="col-12">
					<label class="form-label">Presenter Email Address*</label>
					<input class="form-control" type="text" name="presenterEmail" id="presenterEmail" value="">
				</div>

				<div class="col-12">
					<label class="form-label">Your Poster</label>
					<p>Please consider accessibility when making your poster PDF, by ensuring text is selectable and images are described (for screen readers).</p>
				</div>

				<div class="col-12">
					<label class="form-label">Upload a PDF now (25Mb limit)</label>
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="PosterPDF">
						<label class="input-group-text">.pdf</label>
					</div>
				</div>

          
				

				
				

				<!-- Step 1 button -->
				<div class="d-flex justify-content-end mt-3">
					<button type="button" class="btn btn-primary next-btn mb-0">Submit</button>
				</div>
			</div>
			<!-- Basic information START -->
		</div>
		<!-- Step 1 content END -->
	</div>

		
		</div>
	</div>
</section>
<!-- =======================
Upload Poster END -->

<!-- =======================
Preview Poster START -->
<section>
	<div class="container">

	    <div class="card-body">
		   <!-- Step 1 content START -->
		    <div class="content">
			    <div class="preview-container">
                   <div class="preview-img">
                      <img src="https://images.unsplash.com/photo-1622295023825-6e319464b810?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80" alt="">
				   </div>
				   <div class="preview-content">
					<h4>Title</h4>
					<p>Authors... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque nemo eos illum delectus, excepturi consequatur dignissimos tempore perferendis, amet beatae aliquid doloremque ad inventore eveniet facilis aspernatur repellendus est minus?</p>

					<h5>Abstract</h5>
					<p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, facere unde asperiores sapiente quo porro magnam omnis vel optio aperiam minus perferendis earum officia ad beatae similique tempora error temporibus.</p>

					<span>
						<h5>Presented By</h5>
						<p>Name of presenter...</p>
					</span>

					<span>
						<h5>Institution</h5>
						<p>Name of Institution...</p>
					</span>

					<button type="button">Chat with Presenter</button>

				   </div>
				</div>
	        </div>
	    </div>
	</div>
</section>
<!-- =======================
Preview Poster END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


<div class="modal fade" id="editAction" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			
			<!-- Modal header -->
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-white" id="appDetaillabel">Edit Session</h5>
				<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body" id="edit_section">
	<div class="container">

		<div class="card-body">
		<!-- Step 1 content START -->
		<div class="content">
			<!-- Title -->
			

			<hr> <!-- Divider -->

			<!-- Basic information START -->
			<div class="row g-4">
				<!-- Event title -->
				<div class="col-12">
					<label class="form-label">Event title*</label>
					<input class="form-control" type="text" name="eventTitle" id="eventTitle"  placeholder="Enter event title">
				</div>

				<!-- Event organizer -->
				<div class="col-12">
					<label class="form-label">Organizer*</label>
					<input class="form-control" type="text" name="eventOrganizer" id="eventOrganizer" value="">
				</div>

				<!-- Short description -->
				<div class="col-12">
					<label class="form-label">Short description</label>
					<textarea class="form-control" name="shortDescription" id="shortDescription" rows="10" placeholder="Enter keywords"></textarea>
				</div>

				<!-- Date of Event -->
				<div class="col-12">
					<label class="form-label">Start Date*</label>
					<input class="form-control" type="date" name="startDate" id="startDate" value="">
				</div>

				<!-- Event URL -->
				<div class="col-12">
					<label class="form-label">Event URL</label>
					<input class="form-control" type="text" name="eventURL" id="eventURL" value="" placeholder="https://">
				</div>
          
			</div>
			<!-- Basic information START -->
		</div>
		<!-- Step 1 content END -->
	</div>

		
		</div>
	</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" id="submitModal" class="btn btn-warning-soft my-0">Submit</button>
			</div>
		</div>
	</div>
</div> 


<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
            <!-- Widget -->
            <div><script src="/js/footer.js"></script></div>
			<!-- Widget -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<script src="/js/jquery-3.4.1.min.js"></script>

<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>




</body>

</html>